{% extends 'base.html' %}

{% block content %}




<main>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card shadow-lg border-0 rounded-lg mt-5">


            <div class="card-header" style="background-color:#0D1A81;" >
              <h2 class="text-center font-weight-light my-4"style="color:white;" >  Thanks for reaching out!</h2>
            </div>

            <div class="card-body">
                <div id="success-box" class="content-block">
                  
                    <p>Your message was successfully sent. I will do my best to get back to you in a timely manner :)</p>
                    <a id="back-btn" class="btn btn-success" href="/">BACK TO HOME PAGE</a>
                </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </main>


{% endblock %}